[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dependencies/byzantine-contracts"]
	path = dependencies/byzantine-contracts
	url = https://github.com/Byzantine-Finance/byzantine-contracts
